pandas 
scikit-learn
tensorflow==2.1.0
tensorflow-estimator==2.1.0
tensorflow-text==2.0.1
transformers
pyodbc
tika 
streamlit
tensorflow-hub
seaborn 
azure-storage-blob==12.3.0
python-multipart==0.0.5
fastapi==0.54.0
uvicorn==0.11.3